$type-scale: (
	small: (
		800: 50px,
		700: 90px,
		600: 44px,
		500: 22px,
		400: 20px,
		300: 18px,
		200: 16px,
		100: 14px,
	),
	medium: (
		800: 100px,
		700: 90px,
		600: 44px,
		500: 22px,
		400: 20px,
		300: 18px,
		200: 16px,
		100: 14px,
	),
	large: (
		800: 100px,
		700: 90px,
		600: 44px,
		500: 22px,
		400: 20px,
		300: 18px,
		200: 16px,
		100: 14px,
	),
);

$weights: (
	400: 400,
	500: 500,
	600: 600,
	700: 700,
);
