nav.navbar {
	position: sticky;
	z-index: 100;
	top: 0px;
	left: 0px;
	display: flex;
	padding: 0.5rem 2rem;
	border-bottom: 1px solid var(--clr-neutral-black-100);
	background-color: var(--clr-neutral-white-200);

	.logo {
		flex: 3;
	}
	ul {
		flex: 2;
		list-style-type: none;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 0;
		padding: 0px;
	}
	li {
		padding: 0.25rem 1.25rem;
	}
	a {
		text-decoration: none;
		font-size: var(--fs-100);
		font-weight: var(--wgt-600);
		color: var(--clr-neutral-black-400);
		font-family: "Poppins", sans-serif, serif;
		position: relative;
		padding: 0.5em 0px;
		&::after {
			position: absolute;
			opacity: 0;
			bottom: -10%;
			left: 0;
			content: "";
			width: 100%;
			height: 2px;
			background: var(--clr-primary-yellow-200);
			transition: all 0.2s ease-in-out;
		}

		&:hover {
			&::after {
				bottom: 0;
				opacity: 1;
			}
		}
	}
}

@media screen and(max-width: 992px) {
	nav.navbar {
		padding: 0.4em;

		.logo {
			flex: 0;
		}
		ul {
			flex: 1;
			padding: 0px;
		}
	}
}
@media screen and(max-width: 768px) {
	nav.navbar {
		padding: 0.4em;

		.logo {
			flex: 0;
		}
		ul {
			flex: 1;
			padding: 0px;
		}
	}
}
