@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600;1,700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  overflow-x: hidden;
}

::-moz-selection {
  background-color: var(--clr-primary-yellow-100);
}

::selection {
  background-color: var(--clr-primary-yellow-100);
}

:root {
  --clr-neutral-black-100: rgba(0, 0, 0, 0.15);
  --clr-neutral-black-200: rgba(0, 0, 0, 0.3);
  --clr-neutral-black-300: rgba(0, 0, 0, 0.7);
  --clr-neutral-black-400: black;
  --clr-neutral-white-100: rgba(255, 255, 255, 0.7);
  --clr-neutral-white-200: white;
  --clr-neutral-white-0: rgba(255, 255, 255, 0);
  --clr-primary-yellow-100: rgba(255, 176, 0, 0.5);
  --clr-primary-yellow-200: #ffb000;
  --clr-secondary-warning: #b33a3a;
  --clr-secondary-success: #2aa965;
  --fs-800: 100px;
  --fs-700: 90px;
  --fs-600: 44px;
  --fs-500: 22px;
  --fs-400: 20px;
  --fs-300: 18px;
  --fs-200: 16px;
  --fs-100: 14px;
  --wgt-400: 400;
  --wgt-500: 500;
  --wgt-600: 600;
  --wgt-700: 700;
}

@media screen and (min-width: 400px) {
  :root {
    --fs-800: 50px;
    --fs-700: 90px;
    --fs-600: 44px;
    --fs-500: 22px;
    --fs-400: 20px;
    --fs-300: 18px;
    --fs-200: 16px;
    --fs-100: 14px;
  }
}

@media screen and (min-width: 768px) {
  :root {
    --fs-800: 100px;
    --fs-700: 90px;
    --fs-600: 44px;
    --fs-500: 22px;
    --fs-400: 20px;
    --fs-300: 18px;
    --fs-200: 16px;
    --fs-100: 14px;
  }
}

nav.navbar {
  position: -webkit-sticky;
  position: sticky;
  z-index: 100;
  top: 0px;
  left: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.5rem 2rem;
  border-bottom: 1px solid var(--clr-neutral-black-100);
  background-color: var(--clr-neutral-white-200);
}

nav.navbar .logo {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

nav.navbar ul {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0;
  padding: 0px;
}

nav.navbar li {
  padding: 0.25rem 1.25rem;
}

nav.navbar a {
  text-decoration: none;
  font-size: var(--fs-100);
  font-weight: var(--wgt-600);
  color: var(--clr-neutral-black-400);
  font-family: "Poppins", sans-serif, serif;
  position: relative;
  padding: 0.5em 0px;
}

nav.navbar a::after {
  position: absolute;
  opacity: 0;
  bottom: -10%;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  background: var(--clr-primary-yellow-200);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

nav.navbar a:hover::after {
  bottom: 0;
  opacity: 1;
}

@media screen and (max-width: 992px) {
  nav.navbar {
    padding: 0.4em;
  }
  nav.navbar .logo {
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
  }
  nav.navbar ul {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 0px;
  }
}

@media screen and (max-width: 768px) {
  nav.navbar {
    padding: 0.4em;
  }
  nav.navbar .logo {
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
  }
  nav.navbar ul {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 0px;
  }
}

main {
  width: 100%;
  height: 100%;
}

main .landingPage .CTA {
  display: -ms-grid;
  display: grid;
}

main .landingPage .CTA-headline,
main .landingPage .CTA-button {
  place-items: center;
  position: relative;
}

main .landingPage .CTA-headline .circle,
main .landingPage .CTA-button .circle {
  background-color: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
  width: clamp(200px, 550px, 800px);
  height: clamp(200px, 550px, 800px);
  border-radius: 50%;
  border: 2px solid var(--clr-primary-yellow-200);
  mix-blend-mode: darken;
}

main .landingPage .CTA-articles {
  place-items: flex-end center;
}

main .landingPage .CTA-articles h4 {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  main {
    width: 100%;
    height: 100%;
  }
  main .landingPage .CTA-headline {
    margin-top: 30px;
  }
  main .landingPage .CTA-headline .circle {
    width: 350px;
    height: 350px;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  main .landingPage .CTA-button {
    margin-top: 100px;
  }
  main .landingPage .CTA-articles h4 {
    padding-top: 50px;
  }
}

.button {
  pointer-events: auto;
  cursor: pointer;
  background: transparent;
  border: none;
  width: 180px;
  height: 50px;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  position: relative;
  display: inline-block;
}

button + svg:hover {
  opacity: 0;
}

.button::before,
.button::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.button--major-action-btn {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  border: 2px solid var(--clr-neutral-black-400);
}

.button--major-action-btn > span {
  display: inline-block;
}

.button--major-action-btn:hover > span {
  opacity: 0;
}

.marquee {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  pointer-events: none;
}

.marquee__inner {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  --offset: 1rem;
  --move-initial: calc(-25% + var(--offset));
  --move-final: calc(-50% + var(--offset));
  -webkit-transform: translate3d(var(--move-initial), 0, 0);
          transform: translate3d(var(--move-initial), 0, 0);
  -webkit-animation: marquee 1.5s linear infinite;
          animation: marquee 1.5s linear infinite;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  opacity: 0;
}

.button--major-action-btn:hover .marquee__inner {
  -webkit-animation-play-state: running;
          animation-play-state: running;
  opacity: 1;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  color: var(--clr-neutral-black-400);
  background-color: var(--clr-white-black-200);
}

.marquee span {
  text-align: center;
  white-space: nowrap;
  padding: 0.79rem 0.5rem;
}

@-webkit-keyframes marquee {
  0% {
    -webkit-transform: translate3d(var(--move-initial), 0, 0);
            transform: translate3d(var(--move-initial), 0, 0);
  }
  100% {
    -webkit-transform: translate3d(var(--move-final), 0, 0);
            transform: translate3d(var(--move-final), 0, 0);
  }
}

@keyframes marquee {
  0% {
    -webkit-transform: translate3d(var(--move-initial), 0, 0);
            transform: translate3d(var(--move-initial), 0, 0);
  }
  100% {
    -webkit-transform: translate3d(var(--move-final), 0, 0);
            transform: translate3d(var(--move-final), 0, 0);
  }
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-359deg);
            transform: rotate(-359deg);
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-359deg);
            transform: rotate(-359deg);
  }
}

#cursor-svg {
  overflow: hidden;
  width: 100px;
  height: auto;
  font-size: 64px;
  font-family: "Poppins";
  font-weight: var(--wgt-700);
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
  -webkit-animation: rotation 3.5s infinite linear;
          animation: rotation 3.5s infinite linear;
  pointer-events: none;
  -webkit-transition: top 0.5s, left 0.5s;
  transition: top 0.5s, left 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

a {
  text-decoration: none !important;
}

h1 {
  text-align: center;
  color: var(--clr-neutral-black-400) !important;
  font-size: var(--fs-800) !important;
  font-weight: var(--wgt-700) !important;
  text-transform: uppercase;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  line-height: 200px;
}

h1 span {
  display: block;
}

h1 span:nth-child(1) {
  text-align: center;
  margin-left: 0px;
}

h1 span:nth-child(2) {
  text-align: right;
  margin-right: 0px;
}

h1 span:nth-child(3) {
  text-align: left;
}

h1 span:nth-child(4) {
  text-align: right;
  margin-right: 120px;
}

h1 span:nth-child(5) {
  text-align: center;
}

h1 .heading-span-outline {
  -webkit-text-stroke: 3px;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: var(--clr-neutral-black-400) !important;
}

h4,
h4 a {
  font-size: var(--fs-200) !important;
  font-weight: var(--wgt-500) !important;
  color: var(--clr-neutral-black-400) !important;
}
/*# sourceMappingURL=main.css.map */